<!doctype html>
<html>
	<head>
		<title>Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
		<link href="{{static '/img/logo.ico'}}" rel="shortcut icon">
		{{#if showTests}}
			<link rel="stylesheet" href="{{static '/vendor/mocha.css'}}">
		{{/if}}
		<link href="{{static '/vendor/bootstrap/v3.3.0/css/bootstrap.min.css'}}" rel="stylesheet"/>
		<link href="{{static '/css/main.css'}}" rel="stylesheet"/>
		<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
		<script src="{{static '/vendor/bootstrap/v3.3.0/js/bootstrap.min.js'}}"></script>
		<script src="{{static '/vendor/jquery.transit.js'}}"></script>
		
	</head>
	<body>
		<div class="container-fluid">
			<div class="nav-bar-blog">
				<div class="blog-menu">
					<!-- <a class="btn btn-blog-menu">
						<span class="glyphicon glyphicon-th-large"></span>
					</a> -->
					<a class=" btn-blog-nav-zoom">
						<span class="glyphicon glyphicon-fullscreen"></span>
					</a>
				</div>	
				<div class="my-info">
					<div class="my-avatar">
						<img src="{{static '/img/blog-avatar.png'}}">
					</div>
					<div class="my-name">
						<span>Easy life</span>
					</div>
					<div class="my-words">
						<span class="blog-quot blog-quot-left">「 </span>
						 
						Do not fear what you don't know. 
						<span class="blog-quot blog-quot-right"> 」</span>
					</div>		
				</div>
				<div class="photo-info">
					<span class="glyphicon glyphicon-info-sign "></span>
					<span class="photo-by">By easylif</span>
				</div>
					
			</div>
			<div class="content-blog">
				{{{body}}}



			</div>
			
		</div>
		<footer >
<!-- 
			<div class="row" style="margin-right: 0;  margin-left: 0; ">
				<div class="col-md-7 col-xs-7 site-info">
					闽ICP备16031908号-1
				</div>
				<div class="col-md-4 col-xs-4">
					<div class="contact-us">
						<ul>
							<li>github</li>
							<li>微博</li>
							<li>邮箱</li>
						</ul>
					</div>
				</div>
			</div>
			 -->
			 闽ICP备16031908号-1
		</footer>
	

	
	{{#if showTests}}
		<!-- 测试插件 -->
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		<!-- <script src="/qa/tests-global.js"></script> -->
		{{#if pageTestScript}}
		<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>mocha.run();</script>
	{{/if}}


	<script src="{{static '/js/main.js'}}"></script>
	</body>
</html>