
<link rel="stylesheet" href="{{static '/vendor/editormd/css/editormd.css'}}" />
<input id="article-title" class="editor-title" type="text" name="article-title" value="无标题文章">

<div class="editormd-wraper">
   <div id="test-editormd">
    <textarea id="article-context" style="display:none;">[TOC]

    #### Disabled options

    - TeX (Based on KaTeX);
    - Emoji;
    - Task lists;
    - HTML tags decode;
    - Flowchart and Sequence Diagram;

    #### Editor.md directory

        editor.md/
                lib/
                css/
                scss/
                tests/
                fonts/
                images/
                plugins/
                examples/
                languages/     
                editormd.js
                ...

    ```html
    &lt;!-- English --&gt;
    &lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

    &lt;!-- 繁體中文 --&gt;
    &lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
    ```
    </textarea>
    </div> 
</div>

<script src="{{static '/vendor/editormd/js/editormd.min.js'}}"></script>
<script type="text/javascript">
	var testEditor;
	var toolbars = ["undo", "redo", "|", 
					"bold", "hr", "del","quote","italic","|",
					"h1","h2", "h3", "h4", "h5", "h6", "|",
					"list-ul","list-ol","|",
					"link","reference-link","image","code","preformatted-text","code-block","table","|",
					"watch", "fullscreen",

					"||", 
					"status","save","publish","|",
					]
    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "100%",
            height  : "",
            syncScrolling : "single",
            path    : "{{static '/vendor/editormd/lib/'}}",
            toolbarIcons : function() { return toolbars },
            toolbarIconsClass : {
	            save : "fa-save" , // 指定一个FontAawsome的图标类
	            publish: "fa-mail-forward"
	        },
	        toolbarCustomIcons : {
	            status   : "<span class='editor-status' >已保存</span>",
	        },
	        lang : {
	            toolbar : {
	                publish : "发布文章",
	                save:"保存文章"
	            }
	        },
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/admin/article/edit/upload-img",
            /*
             上传的后台只需要返回一个 JSON 数据，结构如下：
             {
                success : 0 | 1,           // 0 表示上传失败，1 表示上传成功
                message : "提示的信息，上传成功或上传失败及错误信息等。",
                url     : "图片地址"        // 上传成功时才返回
             }
             */
            onchange : function() {
		        console.log($("#test-editormd textarea").val());
		        // ....
				save();
		       
		    }
        });
    });

    function save(){
    	 $.ajax({
        	url:"/admin/article/edit",
        	type:"post",
        	data:{
        		context:$("#article-context").val(),
        		title:$("#article-title").val(),
        	}
        });
    }
</script>