
<div class="container-fluid home">
	<div class="row article-waterfall">
		<div class="col-md-6 aritilce-waterfall-r">
			{{#each articles}}
				<div class="col-sm-12 article-s hidden">
					<div class="col-md-12 article-img-s">
						<a href="/article/{{id}}"><img src="{{img}}" /></a>
					</div>
					<div class="col-md-12 article-title-s" >
						<a class="article-title" href="/article/{{id}}">{{title}}</a>
					</div>
					<div class="col-md-12 article-content-s" >
						{{brief}}
					</div>
					<div class="col-md-12 article-bars" >
						<div class="col-xs-6 article-bars-btn artice-like-s">
							<i class="glyphicon glyphicon-heart"></i>
							

							<i class="like-num">
								{{like_num}}
							</i>
						</div>
						<div class="col-xs-6 article-bars-btn artice-comment-s">
							<i class="glyphicon glyphicon-comment"></i>
							<i class="comment-num">
								{{comment_num}}
							</i>
						</div>
					</div>
				</div>
			{{/each}}
		</div>

		<div class="col-md-6 aritilce-waterfall-l">
			
		</div>
		<script type="text/javascript">
			//加载完后判断显示器宽度,如果大于bootstrap定义的东都屏幕则将文章分到左右两边的div
			var width = $(window).width();
			
			$(".article-s").each(function(index){
				if(index % 2 == 1 && width > 992){//下标偶数在左边，基数在右边
					$(this).appendTo($(".aritilce-waterfall-l:first"));
					console.log($(".aritilce-waterfall-l:first"));
				}
				$(this).removeClass("hidden");
			});
			
		</script>

	</div>
	<div class="row more-article">
		<button class="btn btn-primary btn-lg more-article-btn">更多 · 文章</button>
	</div>
</div>

<script type="text/javascript">
	$(window).resize(function(){
   		if($(window).width() > 992 && $(".aritilce-waterfall-l .article-s").length == 0){
			$(".article-s").each(function(index){
				if(index % 2 == 1){//下标偶数在左边，基数在右边
					$(this).appendTo($(".aritilce-waterfall-l:first"));
				}
				$(this).removeClass("hidden");
			});
		}else if($(window).width() < 992 ){
			console.log(1);
			$(".aritilce-waterfall-l .article-s").each(function(index){
				$(this).appendTo($(".aritilce-waterfall-r:first"));
			});
		}
	});
</script>