.container-fluid {
  padding: 0px;
}
.nav-bar-blog {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  background-image: url("/img/background.jpg");
  background-position: 35% 35%;
  z-index: 99;
}
.content-blog {
  margin-left: 350px;
}
.my-info {
  margin-top: 200px;
  padding: 0 0 20px;
  text-align: center;
}
.my-name {
  font-size: 30px;
}
.my-avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto 10px;
}
.my-avatar img {
  width: 100%;
  height: 100%;
  border: 5px solid white;
  border-radius: 50%;
  box-sizing: border-box;
}
.my-name span {
  text-align: center;
}
.my-words {
  margin: 0 auto 30px;
  font-size: 15px;
  height: 100px;
  width: 250px;
  padding: 10px 0;
}
.blog-menu {
  text-align: center;
  padding: 10px;
}
.btn-blog-menu {
  padding: 10px 16px;
  font-size: 30px;
  line-height: 1;
  border-radius: 6px;
  color: #333;
  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  /* Firefox 4 */
  -webkit-transition: background-color 0.5s;
  /* Safari and Chrome */
  -o-transition: background-color 0.5s;
  /* Opera */
}
.btn-blog-menu:hover {
  color: #fcf8e3;
  background-color: gray;
}
.footer {
  width: 100%;
  height: 50px;
  background-color: gray;
}
.blog-quot {
  position: relative;
  font-size: 30px;
  font-weight: blod;
}
.blog-quot-left {
  top: 0px;
  left: 0px;
  top: -10px;
  float: left;
}
.blog-quot-right {
  bottom: 0px;
  right: -10px;
  top: -10px;
  float: right;
}
.photo-info {
  position: absolute;
  right: 20px;
  bottom: 10px;
  padding: 0;
  text-align: right;
  font-size: 20px;
}
.btn-blog-nav-zoom {
  font-size: 15px;
  color: #333;
  float: right;
}
.btn-blog-nav-zoom:hover {
  cursor: pointer;
}
.photo-by {
  display: none;
  font-size: 18px;
}
footer {
  padding: 8px 0 10px 350px;
  border-top: 1px solid #d9d9d9;
  color: #999999;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}
.contact-us {
  height: 100px;
  line-height: 20px;
  margin-top: -30px;
  margin-bottom: -20px;
  background-color: #dff0d8;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
.home {
  min-height: 800px;
}
.article-waterfall {
  margin: 0;
}
.article-s {
  border-right: 1.5px solid #d9d9d9;
  border-left: 1.5px solid #d9d9d9;
  border-top: 1.5px solid #d9d9d9;
  overflow: hidden;
  padding: 0;
}
.more-article {
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0;
}
.more-article-btn {
  color: #428bca;
  background-color: #fff;
  border-color: #357ebd;
  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  /* Firefox 4 */
  -webkit-transition: background-color 0.5s;
  /* Safari and Chrome */
  -o-transition: background-color 0.5s;
  /* Opera */
  transition: color 0.5s;
  -moz-transition: color 0.5s;
  /* Firefox 4 */
  -webkit-transition: color 0.5s;
  /* Safari and Chrome */
  -o-transition: color 0.5s;
  /* Opera */
}
.more-article-btn:hover {
  color: #fff;
  background-color: #428bca;
}
.article-img-s {
  margin: 20px 0;
  text-align: center;
}
.article-img-s img {
  width: 250px;
  height: 250px;
}
.article-title-s {
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.article-title-s a {
  color: black;
}
.article-title-s a:link {
  text-decoration: none;
}
.article-title-s a:visited {
  text-decoration: none;
}
.article-title-s a:hover {
  text-decoration: none;
}
.article-title-s a:active {
  text-decoration: none;
}
.article-content-s {
  padding: 10px;
  color: rgba(128, 128, 128, 0.85);
}
.aritilce-waterfall-r,
.aritilce-waterfall-l {
  margin: 0px;
  padding: 0px;
  border-bottom: 1.5px dashed #d9d9d9;
}
.article-bars {
  padding: 0px;
  height: 70px;
  background-color: #ddd;
  border-color: #ddd;
  height: 0px;
}
.article-bars-btn {
  padding: 0;
  text-align: center;
  height: 100%;
}
.article-bars-btn:hover {
  cursor: pointer;
}
.artice-like-s {
  background-color: #f5f5f5;
  color: #a94242;
  transition: background-color 1s;
  -moz-transition: background-color 1s;
  /* Firefox 4 */
  -webkit-transition: background-color 1s;
  /* Safari and Chrome */
  -o-transition: background-color 1s;
  /* Opera */
  transition: color 1s;
  -moz-transition: color 1s;
  /* Firefox 4 */
  -webkit-transition: color 1s;
  /* Safari and Chrome */
  -o-transition: color 1s;
  /* Opera */
}
.artice-comment-s {
  background-color: #f5f5f5;
  color: #31708f;
  transition: background-color 1s;
  -moz-transition: background-color 1s;
  /* Firefox 4 */
  -webkit-transition: background-color 1s;
  /* Safari and Chrome */
  -o-transition: background-color 1s;
  /* Opera */
  transition: color 1s;
  -moz-transition: color 1s;
  /* Firefox 4 */
  -webkit-transition: color 1s;
  /* Safari and Chrome */
  -o-transition: color 1s;
  /* Opera */
}
.artice-comment-s:hover {
  background-color: #31708f;
  color: #f5f5f5;
  border-color: #a94242;
}
.artice-like-s:hover {
  background-color: #a94242;
  color: #f5f5f5;
  border-color: #a94242;
}
.article-bars-btn i {
  line-height: 70px;
  font-size: 30px;
}
i.like-num,
i.comment-num {
  font-size: 10px;
}
@media screen and (max-width: 700px) {
  .nav-bar-blog {
    position: fixed;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-image: url("/img/background.jpg");
  }
  .content-blog {
    margin-top: 200px;
    margin-left: 0px;
  }
  .my-info {
    margin-top: 125px;
  }
  .my-name {
    margin-top: -100px;
    font-size: 10px;
  }
  .my-avatar {
    width: 70px;
    height: 70px;
  }
  .my-avatar img {
    border: 3px solid white;
  }
  .my-words {
    margin: -100px auto;
  }
  .btn-blog-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 6px;
    font-size: 15px;
    line-height: 1;
    border-radius: 3px;
    color: #333;
  }
  .photo-info {
    font-size: 15px;
  }
  .btn-blog-nav-zoom {
    display: none;
  }
  footer {
    padding: 8px ;
  }
}
